In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import r2_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import OneHotEncoder

In [21]:
clean_data = pd.read_csv('..\\project_data\\clean_data.csv')

In [22]:
clean_data.drop('Unnamed: 0', axis = 1, inplace = True)

In [23]:
clean_data.head()

,pseudo_id,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,target_max_day_played,mission_played,sum_ads,sum_purchases_real,sum_purchases_virtual
0,0,94,2,3,0,2,1763,2000,0,0,Honduras,0,5000,4,1,0,0,54500
1,0,109,1,4,0,3,2266,2000,0,0,Honduras,0,4238,4,2,0,0,54500
2,0,115,1,5,0,8,2266,3500,0,0,Honduras,0,3561,4,3,0,0,54500
3,0,114,1,6,2,9,2266,3500,0,0,Honduras,2,4284,4,4,0,0,54500
4,0,3,1,7,2,12,2266,7000,0,0,Honduras,2,1306,4,5,0,0,54500

In [25]:
missions = clean_data.pivot_table(index = 'mission_id', values = 'pseudo_id', aggfunc = 'nunique').reset_index()

In [26]:
missions.columns = ['mission_id', 'players']

In [16]:
missions = best_missions.sort_values(by = 'players', ascending = False).reset_index(drop = True)

In [48]:
missions.to_csv('..\\project_data\\missions.csv')

In [27]:
best_missions = missions[missions['players'] >= 600]

In [28]:
best_mids = []

for i in best_missions['mission_id']:
    best_mids.append(i)

In [29]:
best_data = clean_data[clean_data['mission_id'].isin(best_mids)]

In [30]:
best_data

,pseudo_id,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,target_max_day_played,mission_played,sum_ads,sum_purchases_real,sum_purchases_virtual
0,0,94,2,3,0,2,1763,2000,0,0,Honduras,0,5000,4,1,0,0,54500
1,0,109,1,4,0,3,2266,2000,0,0,Honduras,0,4238,4,2,0,0,54500
2,0,115,1,5,0,8,2266,3500,0,0,Honduras,0,3561,4,3,0,0,54500
3,0,114,1,6,2,9,2266,3500,0,0,Honduras,2,4284,4,4,0,0,54500
4,0,3,1,7,2,12,2266,7000,0,0,Honduras,2,1306,4,5,0,0,54500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664754,90482,109,1,8,0,4,3743,0,2,0,United Kingdom,0,8078,2,6,15,0,1500
2664755,90482,11,1,8,0,4,3743,0,2,0,United Kingdom,0,8078,2,7,15,0,1500
2664756,90482,6,1,10,0,5,3743,0,3,0,United Kingdom,0,10336,2,8,15,0,1500
2664757,90482,19,2,10,0,5,3743,0,3,0,United Kingdom,0,10336,2,9,15,0,1500
2664758,90482,86,2,13,2,8,3743,1500,3,0,United Kingdom,2,11671,2,10,15,0,1500

In [31]:
worst_data = clean_data[~clean_data['mission_id'].isin(best_mids)]

In [32]:
worst_data

,pseudo_id,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,target_max_day_played,mission_played,sum_ads,sum_purchases_real,sum_purchases_virtual
5417,190,13,1,18,2,32,3020,10000,0,0,Lebanon,2,14214,5,10,20,0,87000
26740,943,13,1,18,1,22,2604,0,0,0,Czechia,1,13210,4,1,70,0,47000
26743,943,5,2,19,1,23,2604,0,1,0,Czechia,1,15069,4,2,70,0,47000
26746,943,72,1,21,1,26,2604,0,1,0,Czechia,1,17269,4,3,70,0,47000
26752,943,16,1,24,4,53,2616,500,2,0,Czechia,4,28658,4,5,70,0,47000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622202,60039,72,2,22,3,6,4163,8500,5,0,United States,2,10484,3,7,84,0,111000
2622206,60039,16,1,24,3,6,4163,8500,5,0,United States,2,9784,3,9,84,0,111000
2622208,60039,68,1,25,3,6,4163,8500,5,0,United States,2,9284,3,10,84,0,111000
2635735,60737,9,2,16,16,28,7013,30000,24,4,United States,1,16383,18,9,127,12,118500
2645703,61246,9,2,16,1,12,3897,8500,11,0,United States,1,3257,1,10,51,0,111000

In [34]:
datas = [best_data, worst_data]

In [35]:
for i in datas:
    i.drop(['sum_ads', 'sum_purchases_real', 'sum_purchases_virtual'], axis = 1,
          inplace = True)

C:\Users\herat\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [42]:
best_data = best_data.pivot_table(index = 'mission_id', values = ['mission_difficulty',
       'mission_stars_collected', 'day_auto_increment', 'lifetime_played_runs',
       'max_run_distance', 'total_purchases_virtual', 'total_ads_watched',
       'total_purchases_real', 'days_played_in_month',
       'virtual_currency_balance', 'target_max_day_played'], aggfunc = 'mean')

In [43]:
worst_data = worst_data.pivot_table(index = 'mission_id', values = ['mission_difficulty',
       'mission_stars_collected', 'day_auto_increment', 'lifetime_played_runs',
       'max_run_distance', 'total_purchases_virtual', 'total_ads_watched',
       'total_purchases_real', 'days_played_in_month',
       'virtual_currency_balance', 'target_max_day_played'], aggfunc = 'mean')

In [45]:
best_data.to_csv('..\\project_data\\best_data.csv')

In [46]:
worst_data.to_csv('..\\project_data\\worst_data.csv')

In [51]:
all_missions = clean_data.pivot_table(index = 'mission_id', values = ['mission_difficulty',
       'mission_stars_collected', 'day_auto_increment', 'lifetime_played_runs',
       'max_run_distance', 'total_purchases_virtual', 'total_ads_watched',
       'total_purchases_real', 'days_played_in_month',
       'virtual_currency_balance', 'target_max_day_played'], aggfunc = 'mean')

In [53]:
all_missions.to_csv('..\\project_data\\all_missions.csv')